# .vscode
settings.json

day_[0-9].txt
day_[0-9][0-9].txt
!day_[0-9]_test.txt
!day_[0-9][0-9]_test.txt

*.exe

TODO

tests

# day_1_test.txt
# day_1_part_1.cpp
# day_1_part_2.cpp
# day_2_test.txt
# day_2_part_1.cpp
# day_2_part_2.cpp
# day_3_test.txt
# day_3_part_1.cpp
# day_3_part_2.cpp
# day_4_test.txt
# day_4_part_1.cpp
# day_4_part_2.cpp
# day_5_test.txt
# day_5_part_1.cpp
# day_5_part_2.cpp
# day_6_test.txt
# day_6_part_1.cpp
# day_6_part_2.cpp
# day_7_test.txt
# day_7_part_1.cpp
# day_7_part_2.cpp
day_8_test.txt
day_8_part_1.cpp
day_8_part_2.cpp
day_9_test.txt
day_9_part_1.cpp
day_9_part_2.cpp
day_10_test.txt
day_10_part_1.cpp
day_10_part_2.cpp
day_11_test.txt
day_11_part_1.cpp
day_11_part_2.cpp
day_12_test.txt
day_12_part_1.cpp
day_12_part_2.cpp
day_13_test.txt
day_13_part_1.cpp
day_13_part_2.cpp
day_14_test.txt
day_14_part_1.cpp
day_14_part_2.cpp
day_15_test.txt
day_15_part_1.cpp
day_15_part_2.cpp
day_16_test.txt
day_16_part_1.cpp
day_16_part_2.cpp
day_17_test.txt
day_17_part_1.cpp
day_17_part_2.cpp
day_18_test.txt
day_18_part_1.cpp
day_18_part_2.cpp
day_19_test.txt
day_19_part_1.cpp
day_19_part_2.cpp
day_20_test.txt
day_20_part_1.cpp
day_20_part_2.cpp
day_21_test.txt
day_21_part_1.cpp
day_21_part_2.cpp
day_22_test.txt
day_22_part_1.cpp
day_22_part_2.cpp
day_23_test.txt
day_23_part_1.cpp
day_23_part_2.cpp
day_24_test.txt
day_24_part_1.cpp
day_24_part_2.cpp
day_25_test.txt
day_25_part_1.cpp
day_25_part_2.cpp
